/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top {
    /* center contents */
    text-align: center;
}

#middle {
    /* center contents */
    text-align: center;
}

#bottom {
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin-bottom: 20px;
	margin-top: 10px; 

	border-top: 1px dotted black; 
}

#geniusBar {
	border-top: 1px dotted black; 
	border-bottom: 1px dotted black; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	margin-top: 15px; 
}

.geniusBar-clientEmail {
	min-height: 30px; 
	padding-top : 3px; 
	border-bottom: 1px dotted black; 
}

.geniusBar-clientEmail:hover {
	background-color: #DDDDEE; 
	cursor: pointer;
}

.geniusBar-clientEmailHeader {
	height: 30px; 
	font-size : 20px; 
	border-bottom: 1px dotted black; 
	margin-top: 10px; 
	padding-top: 4px; 
}

#grabEmails {
	border: 2px solid black; 
}

.contact-form-header
{
	padding-bottom: 10px; 
	font-size: 20px; 
	font-family: inherit;
}
.contact-form-row
{
	padding-top: 10px; 
	padding-bottom: 10px; 
	min-height: 50px; 
	font-family: inherit; 
	border-bottom: 1px dotted black; 
}

.contact-form-row:hover
{
	background-color: #DDDDDD; 
	cursor: pointer; 
}

.contact-form-row .contact-form-summary
{
	text-align: left; 
}

.contact-form-new
{
	background-color: #DDDDEE; 
	height: 20px; 
	padding-bottom: 10px;
	padding-top: 10px; 
}

.contact-form-new:hover
{
	background-color: #FFDDFF;
	cursor: pointer; 
}

.contact-edit-row
{
	padding-top: 10px; 
	padding-bottom: 10px; 
	min-height: 70px; 
	border: 1px dotted black; 
}

.email-form {
	border: 1px dotted black; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin-top : 10px; 
}

.mergeinfo:hover {
    cursor: pointer
}