/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top {
    /* center contents */
    text-align: center;
}

#middle {
    /* center contents */
    text-align: center;
}

#bottom {
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin-bottom: 20px;
	margin-top: 10px; 

	border-top: 1px solid #EEEEEE; 
}

#geniusBar {
	border-top: 1px dotted black; 
	border-bottom: 1px dotted black; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	margin-top: 15px; 
}

.geniusBar-clientEmail {
	min-height: 30px; 
	padding-top : 3px; 
	border-bottom: 1px dotted black; 
}

.geniusBar-clientEmail:hover {
	background-color: #DDDDEE; 
	cursor: pointer;
}

.geniusBar-clientEmailHeader {
	height: 30px; 
	font-size : 20px; 
	border-bottom: 1px dotted black; 
	margin-top: 10px; 
	padding-top: 4px; 
}

#grabEmails {
	border: 2px solid black; 
}

.contact-form-header
{
	padding-bottom: 10px; 
	font-size: 20px; 
	font-family: inherit;
}
.contact-form-row
{
	padding-top: 10px; 
	padding-bottom: 10px; 
	min-height: 50px; 
	font-family: inherit; 
	border-bottom: 1px dotted black; 
}

.contact-form-row:hover
{
	background-color: #DDDDDD; 
	cursor: pointer; 
}

.contact-form-row .contact-form-summary
{
	text-align: left; 
}

.contact-form-new
{
	background-color: #DDDDEE; 
	height: 40px; 
	padding-bottom: 10px;
	padding-top: 10px; 
}

.contact-form-new:hover
{
	background-color: #FFDDFF;
	cursor: pointer; 
}

.contact-edit-row
{
	padding-top: 10px; 
	padding-bottom: 10px; 
	min-height: 70px; 
	border: 1px dotted black; 
}

.email-form {
	border: 1px dotted black; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin-top : 10px; 
}

.mergeinfo:hover {
    cursor: pointer; 
}

.user_row:hover {
	cursor: pointer; 
}

/*  GLOBAL CHANGES */

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', serif;
}

body {
	padding-top: 30px;
}

form.hidden {
	height : 1px;
	width: 1px;
	margin: 0 0;
	padding: 0 0;
	position: absolute;
	background: rgba(0, 0, 0, 0);

}

/*  Banners and Gradients */

.banner {
	width: 100%;
	top: 0;
	left: 0;
	display: inline-block;
	position: absolute;
	z-index: -2;
	
}

	.banner.home {
		background: url('../img/overlay.png'),
					linear-gradient(45deg, #5f796b, #3a4e59, #2f394e) no-repeat center center;
		height: 550px;
	}

	.banner.small {
		position: relative;
		background: url('../img/overlay.png'),
					linear-gradient(45deg, #96302d, #5A1D1B) no-repeat center center;
		border-radius: 15px;
		text-align: left;
		font-size: 50px;
		height: 200px;
		margin-top: -20px;
		color: white;
		font-family: 'Julius Sans One', sans-serif;	
	}

	.banner.small img {
		width: 40%;
		margin-top: -20px;
	}
	
	.banner.small h3 {
		font-family: 'Julius Sans One', sans-serif;	
		font-weight: bold;
		font-size: 50px;
		margin-top: -70px;
	}

	.banner.full {
		background: url('../img/overlay2.png');
		background-size: 128px 128px;
		height: 100%;
	}

.banner-after {
	margin-top: 570px;
	margin-bottom: 40px;
}

.banner-small-after {
	margin-top: 250px;
	margin-bottom: 40px;
}

.shadow.text {
	text-shadow: 1px 1px rgba(0,0,0,0.75);

}

.quote {
	font-size: 30px;
	font-family: 'Playfair Display', serif;
}

}

/* finding client */

#find {
	background-image: url('../img/overlay2.png');
	background-size: 128px 128px;
}

#find input {
	width: 130px;
}

#find > section {
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
	background-image: url('../img/overlay2.png');
	background-size: 128px 128px;
	position: relative;
}

	#find form {
		width: 90%;
		display: inline-block;
		text-align: center;
		margin-top: 20px;
		/*box-shadow: 1px 1px 50px 0px rgba(0,0,0,0.15); */

	}	
	
	#find > section.top {
		width: 100%;
		padding-bottom: 20px;
		line-height: 20px;
		background-color: #f5fafa;
		float: top;

	}


	#find > section.bottom {
		margin-top: -20px;
		height: 70%;
		float: bottom;
		z-index: 2;
	}

	#find > section.bottom table {
		margin-top: 20px;
		font-family: "Lato", sans-serif;	
		background-color: white;
		width: 80%;
		margin-left: auto;
		margin-right: auto;	
	}

	#find > section.bottom tr:first-child { 
	}
	
	#find > section.bottom th {
		text-align: center;
	}

	#find > .progress {
		background-image: url('../img/overlay2.png');
		background-size: 128px 128px;
		border-radius: 0;
	}

/* client management */

.client-bar {
	width: 20%;
	float: left;
}

.client-main {
	width: 80%;
	float: right;
}

/* bottom */
#bottom {
	margin-top: 0;
	margin-left: 40px;
	margin-right: 40px;
}
